<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav [routerLinkActive]>
    <a routerLink='/home' routerLinkActive="active-link" >home</a>
    <a routerLink='/askStories' routerLinkActive="active-link">ask</a>
    <a routerLink='/showStories' routerLinkActive="active-link">show</a>
    <a routerLink='/jobStories' routerLinkActive="active-link">job</a>
    <a routerLink='/newStories' routerLinkActive="active-link">new</a>
    <a routerLink='/bestStories' routerLinkActive="active-link">best</a>
  </nav>
  <router-outlet></router-outlet>
</div>