nav {
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav > a {
    display: inline-block;
    color: gray;
    text-decoration: none;
    padding: 23px 8px;
    font-size: 13px;
    font-weight: 600;
    margin: 0 -2px;
    vertical-align: middle;
    transition: all 1s ease;
}

nav > a:hover {
    color: #333;
}

.active-link {
    color: #333;
}
.error-message {
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0;
    width: 250px;
    padding: 15px 25px 10px 10px;
    background-color: rgba(100, 0, 0, 0.5);
    border-radius: 5px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
}